@import "tailwindcss";

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input[type="file"]::before {
    content: 'Modifier';
    display: inline-block;
    background: #6366f1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-right: 1rem;
    cursor: pointer;
}

.border-green-500 {
    border-color: #10b981 !important;
}

.border-red-500 {
    border-color: #ef4444 !important;
    animation: shake 0.3s ease-in-out;
}

.bg-beige {
    background-color: #f9f5ed; /* Adjust as needed */
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}

/* validation */

.validation-message {
    transition: opacity 0.3s ease;
    font-size: 0.75rem;
}
.valid { 
    color: #16a34a; 
}
.invalid {
    color: #dc2626; 
}

/* date style  */

.filled-date {
    background-color: #f0fdf4;
    border-color: #86efac !important;
    transition: all 0.3s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.6);
    padding: 4px;
    cursor: pointer;
  }